@tailwind base;
@tailwind components;
@tailwind utilities;

em-emoji-picker {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.GifPickerReact {
    position: absolute;
    bottom: 10px;
    left: 10px;
}